*{
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}
a:visited{
  color: inherit;
}
a:hover{
  color: #319aeb;
  transition: 0.3s;
}

a:active{
  background-color: #cccccc;
}